.auth {
  display: flex;
  gap: 32px;
  @media (max-width: 900px) {
    flex-direction: column;
  }
  .auth-form,
  .reg-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 536px;
    width: 100%;
    padding: 24px;
    .auth-title,
    .reg-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.01em;
      font-feature-settings: "case" on;
    }
    .input-line {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 8px;
      .pssw-label {
        display: flex;
        justify-content: space-between;
        gap: 8px;
      }
      &:first-child {
        margin-top: 24px;
      }
      label {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.01em;
      }
      // INPUT STYLE
      input {
        padding: 0 16px;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        // max-width: 368px;
        width: 100%;
        height: 48px;
        transition: all 0.3s ease;
        &:hover {
          border-color: #afafaf;
          transition: all 0.3s ease;
        }
        &:active,
        &:focus-visible {
          border-color: #0e0f0f;
          outline: none;
        }
        &[type="email"]:valid,
        &[type="tel"]:valid {
          border-color: #36b37e;
        }
        &[type="email"]:not(:placeholder-shown):not(:focus):invalid,
        &[type="email"]:not(:placeholder-shown):invalid {
          border-color: #b33636;
        }
        &[type="tel"]:not(:placeholder-shown):not(:focus):invalid,
        &[type="tel"]:not(:placeholder-shown):invalid {
          border-color: #b33636;
        }
      }
    }
    .login-btn,
    .reg-btn {
      margin-top: 16px;
      border: none;
      height: 48px;
      font-family: "FiraGO";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.01em;
      font-feature-settings: "case" on;
      color: #ffffff;
      background-color: #0e0f0f;
    }
  }
  .reg-form {
    background-color: #ffffff;
    max-width: 536px;
    width: 100%;
    padding: 24px;
    max-height: 240px;
  }
}
