.change-password {
  max-width: 776px;
  min-height: 336px;
  background-color: #fff;
  padding: 24px 25px;
  color: #0e0f0f;

  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.01em;
    font-feature-settings: "case" on;
    color: #0e0f0f;
  }

  form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    #password {
      width: 100%;
      max-width: 100%;
      background-color: #fafafa;
    }
    .change-password-button {
      margin-top: 8px;
      width: 160px;
      height: 48px;
      background-color: #0e0f0f;
      font-family: "FiraGO";
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      //   display: flex;
      //   align-items: center;
      //   text-align: center;
      align-self: flex-end;
      border: none;
      letter-spacing: 0.01em;
      font-feature-settings: "case" on;
      color: #ffffff;
      &:hover {
        background-color: #323232;
      }
    }
  }

  // input
  input {
    padding: 0 16px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    max-width: 368px;
    width: 100%;
    height: 48px;
    transition: all 0.3s ease;
    @media (max-width: 768px) {
      max-width: 100%;
    }
    &:hover {
      border-color: #afafaf;
      transition: all 0.3s ease;
    }
    &:active,
    &:focus-visible {
      border-color: #0e0f0f;
      outline: none;
    }
  }

  //

  .new-password {
    margin-top: 8px;
    display: flex;
    gap: 24px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .input-line {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 8px;
      width: 100%;
      label {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.01em;
      }
    }
  }
}
