.home {
  background-color: #f6f6f6;
  .orange-divider {
    height: 16px;
    background-color: #f37321;
    width: 100%;
    max-width: 1104px;
    margin: 0 auto;
  }

  .mySwiper {
    .swiper-button-next,
    .swiper-button-prev {
      color: #000000;
      @media (max-width: 480px) {
        &::after {
          font-size: 25px;
        }
      }
    }
    .swiper-pagination span {
      background-color: #000000;
    }
    img {
      width: 100%;
      display: block;
    }
  }
  .slider-container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .homepage-container {
    padding-top: 40px;
    position: relative;
    @media (max-width: 480px) {
      padding-top: 16px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      height: 16px;
      width: 100%;
      background-color: #f37321;
      @media (max-width: 480px) {
        display: none;
      }
    }

    .homepage-products-title {
      height: 56px;
      display: flex;
      align-items: center;

      margin-bottom: 24px;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #0e0f0f;
      font-feature-settings: "case" on;
    }
    .homepage-products {
      display: grid;
      justify-content: center;
      column-gap: 16px;
      row-gap: 30px;
      grid-template-columns: repeat(auto-fill, 264px);
      @media (max-width: 630px) {
        grid-template-columns: repeat(auto-fill, minmax(264px, 382px));
      }
    }
    .homepage-banner {
      margin-top: 40px;
      @media (max-width: 560px) {
        display: none;
      }
    }
  }
}
