.navbar {
  height: 40px;
  // background-color: #95a5a6;
  color: #fff;
  font-feature-settings: "case" on;
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #fff;
    opacity: 0.4;
  }
}
.navbar-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .language-bar {
    font-size: 14px;
    line-height: 17px;
    height: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    .lang-divider {
      width: 1px;
      height: 10px;
      background-color: #fff;
      opacity: 0.8;
    }
  }
}

.nav-logo {
  margin-left: 50px;
  cursor: pointer;
  display: none;
}
.nav-menu {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  // gap: 20px;
}
.nav-item {
  font-size: 14px;
  line-height: 17px;
  height: 40px;
  border-bottom: 2px solid transparent;
  // padding: 0.5rem 1rem;
  a {
    padding: 0 1rem;
  }
  .activated {
    background-color: #fff;
    color: #0e0f0f;
  }
}
.nav-item:hover {
  border-bottom: 5px solid #9b59b6;
}
.nav-links {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    background-color: #95a5a6;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    top: 80px;
    left: -100%;
    height: calc(100% - 80px);
    color: #9b59b6;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    left: 0;
    transition: all 1s ease;
  }
  .nav-item {
    width: 100%;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 25px;
    font-size: 2rem;
  }
}
