.registration-page {
  min-height: 688px;
  padding-top: 32px;
  color: #0e0f0f;
  background-color: #f6f6f6;
  .registration-title {
    max-width: 768px;
    margin: 0 auto;
    padding: 16px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.01em;
    font-feature-settings: "case" on;
  }
  form {
    max-width: 768px;
    margin: 0 auto;
    .input-box {
      margin-top: 8px;
      display: flex;
      gap: 32px;
      @media (max-width: 660px) {
        flex-direction: column;
        // max-width: 368px;
        gap: 16px;
      }
      .input-line {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 8px;
        width: 100%;
        label {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.01em;
        }
        // INPUT STYLE
        input {
          padding: 0 16px;
          background: #ffffff;
          border: 1px solid #e5e5e5;
          max-width: 368px;
          width: 100%;
          height: 48px;
          transition: all 0.3s ease;
          @media (max-width: 660px) {
            max-width: 100%;
          }
          &:hover {
            border-color: #afafaf;
            transition: all 0.3s ease;
          }
          &:active,
          &:focus-visible {
            border-color: #0e0f0f;
            outline: none;
          }

          &[type="email"]:valid,
          &[type="tel"]:valid {
            border-color: #36b37e;
          }
          &[type="email"]:not(:placeholder-shown):not(:focus):invalid,
          &[type="email"]:not(:placeholder-shown):invalid {
            border-color: #b33636;
          }
          &[type="tel"]:not(:placeholder-shown):not(:focus):invalid,
          &[type="tel"]:not(:placeholder-shown):invalid {
            border-color: #b33636;
          }
        }
        &:has(
            input[type="email"]:not(:placeholder-shown):not(:focus):invalid
          )::after,
        &:has(input[type="email"]:not(:placeholder-shown):invalid)::after {
          content: "ელ. ფოსტის ფორმატი არასწორადაა შეყვანილი";
          display: block;
          width: 100%;
          font-size: 12px;
          line-height: 24px;
          color: #b33636;
        }
      }
    }
    .stay-signed {
      display: flex;
      align-items: center;
      margin-top: 8px;
      height: 32px;
      display: flex;
      gap: 8px;
      input {
        appearance: none;
        width: 18px;
        height: 18px;
        background: #ffffff;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        transition: all 0.3s ease;
        &:hover,
        &:active {
          border-color: #0e0f0f;
        }
        &:checked {
          content: url(../assets/img/check.svg);

          border-color: #0e0f0f;
        }
      }
      label {
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        span {
          text-decoration: underline;
          margin-left: 4px;
        }
      }
    }
    .submit-container {
      margin-top: 24px;
      min-height: 80px;
      width: 100%;
      padding: 16px 0 0 0;
      border-top: 1px solid #d6d6d6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;
      border-bottom: 1px solid #d6d6d6;
      p {
        align-self: center;
        height: 48px;
        margin: 16px 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.01em;
        display: flex;
        align-items: center;

        a,
        a:visited {
          font-weight: 600;
          color: #0e0f0f;
        }
      }
      .submit-button {
        align-self: flex-end;
        width: 288px;
        height: 48px;
        background: #0e0f0f;
        color: #ffffff;
        font-family: "FiraGO";
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        border: none;
        // display: flex;
        // align-items: center;
        // text-align: center;
        letter-spacing: 0.01em;
        font-feature-settings: "case" on;
        transition: all 0.3s ease;
        @media (max-width: 660px) {
          align-self: center;
        }
        &:hover {
          background: #323232;
        }
      }
    }
  }
  .social-login {
    text-align: center;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    p {
      height: 80px;
      padding: 16px 0;
      height: 48px;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.01em;
    }
    button {
      padding: 0 16px;
      width: 288px;
      min-height: 48px;
      border: none;
      display: flex;
      align-items: center;
      gap: 16px;
      font-family: "FiraGO";
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01em;
      color: white;
      cursor: pointer;
    }
    .fb-login {
      background-color: #3b5999;
    }
    .google-login {
      background-color: #cb4023;
    }
  }
}
